.headerContainer {
  background-image: url("/background.svg");
  background-size: cover;
  /* height: 50vh; */
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  background-color: #F6F8FC;
}

.page {
  position: relative;
  width: 95%;
  max-width: 1458px;
  margin: auto;
}

.header {
  padding-top: 60px;
}

.titleContainer {
  text-align: center;
  padding: 8px 10px 8px 10px;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 190px;
  margin: auto;
}
.bgImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.mainContentContainer {
  width: 90%;
  margin: auto;
  max-width: 1217px;
  text-align: center;
  margin-top: 20px;
}

.mainContentContainer p {
  font-size: 80px;
}

.subContentContainer {
  width: 90%;
  margin: auto;
  max-width: 1217px;
  text-align: center;
  margin-top: 20px;
}

.subContentContainer p {
  font-size: 20px;
  font-weight: 500;
}

.alertContainer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /* overflow: hidden; */
  /* max-height: 100px; */
  /* height: 100px; */
  transition: all 0.3s ease-in;
}

.ideaMaintext {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-top: 70px;
}
.ideaMaintext p {
  margin: 0;
}

.ideaSubtext {
text-align: center;
color: #888888;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 768px) {
 
  .mainContentContainer p {
    font-size: 40px;
  }

  .subContentContainer p {
  font-size: 16px;
}

.ideaMaintext {
  font-size: 32px;
}

  .ideaSubtext {
    font-size: 14px;
  }

  
}

@media (max-width: 480px) {
  .mainContentContainer p {
    font-size: 20px;
  }

  .subContentContainer p {
    font-size: 14px;
  }

  .ideaMaintext {
    font-size: 24px;
  }

  .ideaSubtext {
    font-size: 12px;
  }
}